footer
    .container
        p.section__title.text-center Get in touch
        .row
            .col-md-4
                ul.email
                    li Email
                    li: a(href="mailto:free@psd.in.ua") free@psd.in.ua
                    li: a(href="mailto:free@psd.in.ua") free@psd.in.ua
            .col-md-4
                ul.phone
                    li Phone
                    li: a(href="tel:+1234567890") +123 456 7890
                    li: a(href="tel:+1234567890") +123 456 7890
            .col-md-4
                .address
                    span Address
                    address 123, Main Road, New City, My Country 123456
        .socials
            //+socialIconList(socialIcons)
        small.copy Copyright © 2019. PSD.IN.UA  | Best PSD Template for freelancer