header
    .container-fluid
        .row.align-items-center
            .col-md-2.offset-md-1
                p.header__logo Agency
            .col-md-8.offset-md-1
                .navigation-wrapper
                    +navBar(headerMenu)
                    ul.socials-wrapper.mr-5
                        li: button(type="button"): +svg('search')
                        li: a(href="#"): +svg('facebook-logo')
