header
    .container-fluid
        .row.align-items-center
            .col-md-2.offset-md-1
                p.header__logo Agency
            .col-md-8.offset-md-1
                .navigation-wrapper
                    +navBar(headerMenu)
                    //ul.socials-wrapper
                    //    li: +svg('search')
                    //    li: +svg('facebook')
