p {
  margin-bottom: 0;
}

a:hover {
  text-decoration: none;
}

button {
  background-color: transparent;
  border: 0;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

header {
  color: $contrast-color;
  padding-top: 15px;
}

.main-screen {
  background-image: url("../img/bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  background-color: $accent-color;
  height: 100vh;

  .reverse-container {
    height: calc(100% - 79px);
  }
}

.header__logo {
  font-family: "Lato-Black", sans-serif;
  font-size: 43px;
  letter-spacing: -25;
  line-height: 1;
}

.navigation-wrapper {
  display: flex;
  justify-content: space-between;
}

.main-navigation ul {
  display: flex;
  justify-content: space-around;

  li:not(:last-child) {
    margin-right: 20px;
  }
}

.main-navigation span {
  font-family: "Lato-Bold", sans-serif;
  font-size: 15px;
  letter-spacing: 2px;
  color: $contrast-color;
  position: relative;
  padding: 5px 15px;

  &:before,
  &:after {
    @include activeLink()
  }

  &:before {
    left: 0;
    top: 0;
  }

  &:after {
    right: 0;
    bottom: 0;
  }
}

.main-navigation a > span:hover {
  &:before,
  &:after {
    opacity: 1;
    width: 100%;
    height: 2px;
  }
}

.main-navigation li > span {
  &:before,
  &:after {
    opacity: 1;
    width: 100%;
    height: 2px;

    content: '';
    background: $contrast-color;
  }
}

.socials-wrapper {
  display: flex;

  li:not(:last-child) {
    margin-right: 25px;
  }

  svg {
    fill: $contrast-color;
    width: 25px;
    height: 25px;
  }
}

.slogan {
  font-family: "LemonMilkbold", sans-serif;
  //color: $contrast-color;
  text-transform: uppercase;
  text-align: center;
  text-shadow: 0 0 19px #231f20;
  color: $contrast-color;
  mix-blend-mode: soft-light;
  margin-bottom: 30px;
  z-index: 2;

  p {
    font-size: 114px;
    line-height: 0.85;
  }

  span {
    font-size: 74px;
    line-height: 0.4;
  }
}

.button-main {
  @include link();
}

.main-screen .button-main {
  background-color: $contrast-color;
  color: #242424;
  z-index: 2;
}

.img-wrapper_shadow {
  z-index: 1;
}

.shade,
.model {
  position: absolute;
  top: 0;
  left: 0;

  img, source {
    height: 100vh;
    width: auto;
  }
}

.shade {
  z-index: 1;
  right: auto;
  left: -75%;
  opacity: 0.5;
}

.model {
  z-index: 999;
}

.about-us {
  background-color: $contrast-color;
  padding: 100px 0 50px;

  //&::before {
  //  content: '';
  //}
}

.section__title {
  font-family: "PeaceSans", sans-serif;
  font-size: 62px;
  color: #494949;
}

.section__description {
  font-family: "OpenSans-Regular", sans-serif;
  //line-height: 30px;
  font-size: 17px;
  color: #6f6f6e;
}

.activity {
  background-color: #f5f5f5;
  padding: 90px 0 110px;

  .section__title {
    margin-bottom: 80px;
  }

  .section__description,
  .section__heading {
    margin-left: 80px;
  }

  .section__description {
    margin-bottom: 100px;
  }

  .section__heading {
    &::before {
      content: "";
      width: 74px;
      height: 74px;
      background-color: $accent-color;
      position: absolute;
      border-radius: 50%;
      right: calc(100% + 20px);
    }
  }
}

.section__heading {
  font-family: "OpenSans-ExtraBold", sans-serif;
  font-size: 30px;
  position: relative;
  margin-bottom: 20px;
}

.how-we-work {
  padding: 110px 0;
  overflow: hidden;

  .section__title {
    margin-bottom: 35px;
  }
}

.text-wrapper {
  width: 38%;
}

.img-block__wrapper {
  width: 50%;
}

.img-block__scew {
  transform: skewX(-25deg);
  overflow: hidden;
  margin: 5px;
  width: 250px;
  height: 220px;
  //min-width: 250px;
  //min-height: 220px;
  cursor: pointer;
  box-shadow: -4px 11px 40px 0 rgba(0, 1, 1, .22);

  &:not(:last-child) {
    margin-right: 24px;
  }
}

.img-block__img_unskew {
  transform: skewX(25deg) scale(1.5);
  background-color: #424240;
  opacity: .7;
  //max-width: 250px;
  //max-height: 220px;
  background-size: cover;
  background-position: center;
}

.img-block__scew:hover {
  .img-block__img_unskew {
    opacity: 0.8;
  }

  .img-block__title {
    transform: translatey(0px);
    opacity: 1;
  }

  .img-block__description {
    transform: translatey(0px);
    opacity: 1;
    visibility: visible;
  }
}

.img-block__scew-text {
  transform: scale(0.69);
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0 10% 0 5%;
  color: $contrast-color;
}

.img-block__order {
  font-size: 58px;
  letter-spacing: 3px;
  font-family: 'Lato-Bold', sans-serif;
  font-weight: 500;
  margin-bottom: 20px;
  line-height: 1;
  align-self: flex-end;
  position: relative;
  left: 15%;
}

.img-block__title {
  font-size: 40px;
  font-family: 'Lato-Bold', sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  transform: translateY(62px);
  transition: all 0.2s ease-in-out;
}

.img-block__description {
  position: relative;
  font-family: 'OpenSans-Regular', sans-serif;
  line-height: 21px;
  font-size: 16px;
  transform: translatey(100px);
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease-in-out;
}

.team {
  background-color: #f5f5f5;
  padding: 40px 0;

  .section__title {
    margin-bottom: 75px;
  }
}

.slider-team {
  margin-bottom: 110px;
}

.slide-inner {
  position: relative;
}

.img-wrapper, .img-block {
  transform-origin: 50% 50%;
  overflow: hidden;
  width: 250px;
  height: 250px;
}

.img-wrapper {
  transform: rotate(45deg);
  border: 18px solid $contrast-color;
  background-color: rgb(231, 231, 230);
  box-shadow: -4px 11px 40px 0px rgba(0, 1, 1, 0.22);
}

.img-wrapper .img-block {
  width: 355px;
  height: 355px;
  transform: rotate(-45deg) translateY(-82px) translateX(5px);
}

.team-member {
  background-color: #252525;
  display: inline-flex;
  padding: 5px 35px;
  transform: skew(45deg);
  position: absolute;
  bottom: -35px;
  left: 54px;
  font-size: 15px;
}

.team-member span {
  transform: skew(-45deg);
  color: $contrast-color;
  font-family: 'OpenSans-Regular', sans-serif;
  font-weight: bold;
  font-size: 16px;
}

.member-position {
  background-color: #bc2e3a;
  display: inline-flex;
  padding: 4px 12px;
  transform: skew(45deg);
  position: absolute;
  bottom: -60px;
  right: 70px;
}

.member-position span {
  transform: skew(-45deg);
  color: $contrast-color;
  font-family: 'OpenSans-Regular', sans-serif;
  font-style: italic;
  font-size: 13px;
}

.comment {
  color: $main-color;
  padding: 40px 0 100px 0;

  .section__title {
    margin-bottom: 80px;
  }
}

.comment-text {
  font-family: "OpenSans-Regular", sans-serif;
  font-style: italic;
  font-size: 20px;
  position: relative;

  &::before {
    content: '“';
    position: absolute;
    font-family: 'PumpDemiBoldLet', sans-serif;
    font-size: 200px;
    top: auto;
    left: -108px;
    line-height: 0.5;
    font-style: initial;
  }
}

.comment-author {
  font-size: 18px;
  font-family: "OpenSans", sans-serif;
  font-weight: bold;
}

.comment-pagination {
  .slide-inner {
    cursor: pointer;

    &:not(:last-child) {
      margin-right: 40px;
    }
  }

  .img-wrapper {
    border: 0;
    width: 50px;
    height: 50px;
    box-shadow: 0 0 17px 0 rgba(0, 1, 1, .22);
  }

  .img-block {
    transform: rotate(-45deg) translateY(-15px) translateX(0px);
    width: 70px;
    height: 70px;
  }
}


footer {
  padding: 40px 0;
  color: $contrast-color;
  background-color: #171717;
  background-image: url("../img/footer.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;

  &::after {
    content: "";
    width: 50px;
    height: 50px;
    //background-image: url("");
  }

  .section__title {
    margin-bottom: 40px;
  }
}

.contacts {
  margin-bottom: 35px;
}

.email,
.phone,
.address {
  position: relative;

  &::before {
    content: '';
    width: 50px;
    height: 50px;
    background-image: url("../img/symbol/svg/sprite.svg#jmap-view");
    background-repeat: no-repeat;
    background-position: center center;
    //background-size: cover;
    position: absolute;
    right: calc(100% + 21px);
    background-size: 40px;
    display: inline-block;
  }

  li:first-child,
  span {
    font-family: "OpenSans-Bold", sans-serif;
    font-size: 22px;
    line-height: 1;
    margin-bottom: 20px;
  }

  li > a, address {
    font-family: "OpenSans-Regular", sans-serif;
    font-size: 17px;
    color: $contrast-color;
    letter-spacing: 2px;
  }

  li > a:hover {
    color: $accent-color;
  }

  address {
    line-height: 1.4;
  }

  span {
    display: inline-block;
  }
}

.socials {
  border-bottom: 1px solid $contrast-color;
  padding-bottom: 25px;
  width: 40%;
  margin: 0 auto;
  justify-content: space-between;
  margin-bottom: 20px;
  align-items: center;

  svg {
    fill: $contrast-color;
    width: 34px;
    height: 34px;
  }

  li:hover svg {
    fill: $accent-color;
  }
}

.copy {
  display: block;
  text-align: center;
}