@mixin font-face($font-family, $file-path, $weight: normal, $style: normal) {
  @font-face {
    font-family: $font-family;
    src: url('#{$file-path}.woff2') format('woff2'),
    url('#{$file-path}.woff') format('woff');
    font-weight: $weight;
    font-style: $style;
  }
}

@mixin text($font-family, $font-size, $letter-spacing: normal, $color: normal, $text-transform: normal, $margin-bottom: normal, $line-height: normal) {
  font-family: $font-family;
  font-size: $font-size;
  letter-spacing: $letter-spacing;
  color: $color;
  text-transform: $text-transform;
  margin-bottom: $margin-bottom;
  line-height: $line-height;
}

@mixin button {

}

@mixin button-hover {

}


