@mixin font-face($font-family, $file-path, $weight: normal, $style: normal) {
  @font-face {
    font-family: $font-family;
    src: url('#{$file-path}.woff') format('woff');
    font-weight: $weight;
    font-style: $style;
  }
}

@mixin text($font-family, $font-size, $letter-spacing: normal, $color: normal, $text-transform: normal, $margin-bottom: normal, $line-height: normal) {
  font-family: $font-family;
  font-size: $font-size;
  letter-spacing: $letter-spacing;
  color: $color;
  text-transform: $text-transform;
  margin-bottom: $margin-bottom;
  line-height: $line-height;
}

@mixin link {
  box-shadow: -4px 11px 40px 0px rgba(0, 1, 1, 0.47);
  border-radius: 20px;
  font-family: "Lato-Bold", sans-serif;
  font-size: 21px;
  //letter-spacing: 25;
  color: $contrast-color;
  //display: inline-block;
  background-color: $accent-color;
  padding: 5px 23px;
  border: 2px solid transparent;

  &:hover {
    color: $accent-color;
    background-color: $contrast-color;
    border: 2px solid $accent-color;
  }
}

@mixin activeLink {
  position: absolute;
  opacity: 0.5;
  height: 100%;
  width: 2px;
  content: '';
  background: #FFF;
  transition: all 0.3s;
}



