.slick-list {
  overflow: visible;
}

.slick-center .slick-current {
  top: 50%;
  z-index: 2;
  transform: scale(1.3);
  transform-origin: center center;
  transition: transform .3s ease;
}

.slider-comments .slick-dots {
  display: inline-flex;
}
