extends layouts/_base

block content
    section.main-screen
        include partials/_header
        .reverse-container.d-flex.align-items-center
            .col-md-6.offset-md-1
                .slogan
                    p Think outside
                    br
                    |
                    span of the box
                button(type="button").button-main Read more
            .col-md-5.align-self-start
                .img-wrapper_shadow.position-relative
                    +picture('model','Guy with skate', '','img/model.png',true)
                    +picture('shade','shade', '','img/Shade.png', true)
    main
        section.about-us
            .container
                .row
                    .col-md-5.d-flex.flex-column.justify-content-between.align-items-start
                        p.section__title Who we are
                        p.section__description Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                            | doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
                            | architecto beatae vitae dicta sunt explicabo.
                        button(type="button").button-main Read more
                    .col-md-7
                        +picture('Macbook Pro', '#', 'img/macbook.png')

        section.activity
            .container
                p.section__title.text-center What we do
                .row.justify-content-center
                    .col-md-4
                        p.section__heading Creative Work
                        p.section__description Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                            | doloremque laudantium
                    .col-md-4
                        p.section__heading We do Best
                        p.section__description Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                            | doloremque laudantium
                    .col-md-4
                        p.section__heading Best Company
                        p.section__description Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                            | doloremque laudantium
                    .col-md-4
                        p.section__heading Nice Idea
                        p.section__description Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                            | doloremque laudantium
                    .col-md-4
                        p.section__heading Professional
                        p.section__description Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                            | doloremque laudantium
                    .col-md-4
                        p.section__heading Great Services
                        p.section__description Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                            | doloremque laudantium

        section.how-we-work
            .container
                p.section__title How we works
            .d-flex.justify-content-between
                .text-wrapper.reverse-container.flex-wrap.pr-md-0
                    p.section__description Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                        | doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
                        | architecto beatae vitae dicta sunt explicabo.
                    button(type="button").button-main Read more
                .img-block__wrapper.reverse-container.d-flex.px-md-0.offset-md-1.align-items-center
                    .img-block__scew
                        .img-block__scew-text
                            span.img-block__order 1.
                            p.img-block__title IDEA
                            p.img-block__description Sed ut perspiciatis unde omnis iste natus error sit voluptatem.
                    .img-block__scew
                        .img-block__scew-text
                            span.img-block__order 1.
                            p.img-block__title IDEA
                            p.img-block__description Sed ut perspiciatis unde omnis iste natus error sit voluptatem.
                    .img-block__scew
                        .img-block__scew-text
                            span.img-block__order 1.
                            p.img-block__title IDEA
                            p.img-block__description Sed ut perspiciatis unde omnis iste natus error sit voluptatem.

        section.team
            .container
                .d-flex.flex-column.align-items-center
                    p.section__title Our creative team
                    .slider-team.d-flex.justify-content-between
                        +slideTeam(images)

        section.comment
            .container
                p.section__title What client says
                .row
                    .col-md-4
                        .slider-comment
                            .slide-inner
                                .img-wrapper
                                    .img-block
                                        img(src='https://margaritakovalchuk.github.io/studio/img/feature-img.png' alt='')
                    .col-md-7.ml-md-4.d-flex.flex-column.justify-content-between
                        p.comment-text cSed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                            | laudantium.Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium       doloremque  laudantium.
                        p.comment-author Jinny Snow, Company CEO
                        .comment-pagination.d-flex
                            +slideComment(images)

