- const title = "Boilerplate";

-
    const headerMenu = [
        {
            url: "#",
            title: "Home",
            active: true,
        },
        {
            url: "#",
            title: "About us",
        },
        {
            url: "#",
            title: "Team",
        },
        {
            url: "#",
            title: "Services",
        },
        {
            url: "#",
            title: "Process",
        },
        {
            url: "#",
            title: "Clients",
        },
        {
            url: "#",
            title: "Work",
        },
    ];

// -
//     const footerMenu = [
//         {
//             url: "#",
//             title: "",
//         },
//     ];

// -
//     const servicesList = [
//         {
//             url: "#",
//             title: "",
//         },
//     ];

// -
//     const socialIcons = [
//         {
//             name: "facebook",
//             url: "#",
//             width: "30",
//             height: "30",
//         },
//
//     ];