- const title = "Agency";
- const imgPath = "img/";

-
    const headerMenu = [
        {
            url: "#",
            title: "Home",
            active: true,
        },
        {
            url: "#",
            title: "About us",
        },
        {
            url: "#",
            title: "Team",
        },
        {
            url: "#",
            title: "Services",
        },
        {
            url: "#",
            title: "Process",
        },
        {
            url: "#",
            title: "Clients",
        },
        {
            url: "#",
            title: "Work",
        },
    ];

-
    const images = [
        {
            src: imgPath + "team1.jpg",
            alt: "Team member",
        },
        {
            src: imgPath + "team2.jpg",
            alt: "Team member",
        },
        {
            src: imgPath + "team3.jpg",
            alt: "Team member",
        },
    ];

-
     const socialIcons = [
         {
             name: "facebook",
             url: "#",
             width: "30",
             height: "30",
         },

     ];

-
    const skewImages = [
        {
            src: imgPath + "how-we-work-1.jpg"
        },
        {
            src: imgPath + "how-we-work-2.jpg"
        },
        {
            src: imgPath + "how-we-work-3.png"
        },
    ];